<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Akash Chouhan — Software Engineer.">
  <meta name="author" content="Akash Chouhan">
  <meta property="og:title" content="Akash Chouhan" />
  <meta property="og:description" content="Software Engineer" />
  <title>Akash Chouhan</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="./public/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./public/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./public/favicon-16x16.png">
  <link rel="manifest" href="./public/site.webmanifest">

  <style>
    * {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #preloader {
      transition: opacity 0.5s ease-in-out;
    }

    @media (max-width: 900px) {
      .timmer {
        display: none;
      }
    }
  </style>
</head>

<body class="bg-gray-50 text-gray-800 leading-relaxed">
  <!-- Preloader -->
  <div id="preloader" class="fixed inset-0 z-50 flex flex-col items-center justify-center 
    bg-white dark:bg-gray-900 transition-opacity duration-500">
    <div class="relative w-20 h-20 mb-6">
      <div class="absolute inset-0 rounded-full border-4 border-t-transparent 
      border-blue-800 animate-spin">
      </div>
      <div class="absolute inset-2 rounded-full border-4 border-gray-300 dark:border-gray-600">
      </div>
    </div>
    <p class="text-base text-gray-600 dark:text-gray-300 font-semibold tracking-wider animate-pulse">
      loading<span class="inline-block animate-bounce delay-0">.</span><span
        class="inline-block animate-bounce delay-100">.</span><span
        class="inline-block animate-bounce delay-200">.</span>
    </p>
  </div>

  <!-- Main Content -->
  <div class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white min-h-screen">
    <div id="app" class="max-w-4xl mx-auto px-4 py-8">

      <!-- Header -->
      <header class="text-left mb-6">
        <h1 class="text-2xl sm:text-3xl font-bold text-black dark:text-gray-100">{{name}}</h1>
        <nav class="text-gray-600 text-sm">
          <span class="font-semibold dark:text-gray-500">{{labels?.home}}</span>
          <span class="mx-1">/</span>
          <span class="hover:underline cursor-pointer hover:scale-105 
            transition-all duration-400">{{labels?.about}}</span>
        </nav>
        <button @click="toggleDarkMode"
          class="fixed top-4 right-4 z-50 bg-gray-100 dark:bg-gray-700 text-xl sm:text-md text-black dark:text-white px-3 py-1 rounded shadow-sm transition">
          {{ isDark ? '☀︎' : '☾' }}
        </button>
      </header>

      <!-- Description -->
      <section
        class="text-left relative rounded-2xl shadow-xl bg-white/80 dark:bg-gray-800/70 backdrop-blur-md ring-1 ring-gray-200 dark:ring-gray-700 p-8 md:p-10 mb-10 transition duration-300">

        <p class="text-xl sm:text-3xl font-bold text-gray-700 dark:text-gray-100 mb-4">
          {{labels?.greet}}
        </p>

        <div class="prose dark:prose-invert max-w-none text-lg text-gray-800 dark:text-gray-200 
        space-y-4">
          <p v-for="(description, index) in descriptions" :key="index" v-html="description">
          </p>
        </div>

        <div class="flex flex-wrap gap-4 mt-6">
          <a v-for="(link, index) in links" :key="index" :href="link.href" target="_blank" rel="noopener noreferrer"
            class="inline-flex items-center gap-2 px-4 py-2 rounded-2xl bg-gray-100 
            dark:bg-gray-700 text-sm font-medium text-gray-800 
            dark:text-white hover:bg-gray-200 dark:hover:bg-gray-600 transition-all">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
            {{link.title}}
          </a>
        </div>
      </section>

      <!-- Posts -->
      <section class="mt-16">
        <h2 class="text-3xl font-bold mb-6">{{labels?.posts}}</h2>

        <div class="grid md:grid-cols-2 gap-6">
          <div v-for="(post, index) in posts" :key="index"
            class="bg-white dark:bg-gray-800 rounded-2xl shadow-md overflow-hidden transition-transform duration-400">
            <a :href="post.href" target="_blank" rel="noopener noreferrer">
              <img class="w-full h-48 object-cover" :src="post.image" :alt="post.imageAlt" />
            </a>
            <div class="p-4">
              <h3 class="line-clamp-3 font-semibold mb-1 text-black dark:text-white">
                {{post?.title}}
              </h3>
              <p class="text-sm text-gray-600 dark:text-gray-400 mb-2">
                {{post?.publishedOn}}
              </p>
              <p class="line-clamp-3 text-gray-700 dark:text-gray-300 text-sm">
                {{post?.description}}
              </p>
              <a class="inline-block mt-3 text-blue-700 dark:text-blue-700 
              font-medium hover:underline transition-all duration-400" :href="post?.href" rel="noopener noreferrer"
                target="_blank">
                Read more →
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- Projects -->
      <section class="my-12">
        <h2 class="text-3xl font-bold mb-6">{{labels?.projects}}</h2>
        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
          <div v-for="project in githubProjects" :key="project?.name" class="bg-white dark:bg-gray-800 rounded-2xl shadow-md
             overflow-hidden hover:shadow-md transition">
            <img :src="project.image" :alt="project.name + ' custom-thumbnail'" class="w-full h-40 object-cover" />
            <div class="p-5">
              <h3 class="text-xl font-semibold mb-2">{{project?.name}}</h3>
              <p class="text-gray-600 dark:text-gray-300 mb-4  h-20 overflow-hidden">
                {{project?.description}}</p>
              <a v-if="project?.link?.github" :href="project?.link?.github" target="_blank" rel="noopener noreferrer"
                class="inline-block px-4 py-2 text-sm 
                font-medium bg-gray-700 text-white rounded-2xl hover:bg-gray-800 transition">
                GitHub
              </a>

              <a v-if="project?.link?.npm" :href="project?.link?.npm" target="_blank" rel="noopener noreferrer" class="inline-block px-4 py-2 text-sm 
                font-medium bg-gray-700 text-white rounded-2xl hover:bg-gray-800 transition">
                Visit Npm
              </a>
              <a v-if="project?.link?.dockerhub" :href="project?.link?.dockerhub" target="_blank"
                rel="noopener noreferrer" class="inline-block px-4 py-2 text-sm 
                font-medium bg-gray-700 text-white rounded-2xl hover:bg-gray-800 transition">
                Dockerhub
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <footer class="bg-white dark:bg-gray-800 dark:text-white-700 
  text-center text-sm text-gray-500 pt-10 pb-2">
    © 2025 Akash Chouhan · Built with Vue & Tailwind
  </footer>

  <script>
    fetch('/siteData.json')
      .then(res => res.json())
      .then(siteData => {

        console.warn('[info] initializing Vue instance');
        new Vue({
          el: '#app',
          data: {
            isDark: false,
            name: siteData?.name,
            descriptions: siteData?.descriptions,
            currentTime: '',
            labels: siteData?.labels,
            links: siteData?.links,
            posts: siteData?.posts,
            githubProjects: siteData?.projects
          },
          created() {
            this.isDark = localStorage.getItem('theme') === 'dark';
            document.documentElement.classList.toggle('dark', this.isDark);
          },
          mounted() {
            setTimeout(() => {
              const preloader = document.getElementById("preloader");
              if (preloader) {
                preloader.style.opacity = "0";
                preloader.style.pointerEvents = "none";
                setTimeout(() => {
                  preloader.style.display = "none";
                }, 500);
              }
            }, 800); // .8s artificial delay
          },
          methods: {
            toggleDarkMode() {
              this.isDark = !this.isDark;
              localStorage.setItem('theme', this.isDark ? 'dark' : 'light');
              document.documentElement.classList.toggle('dark', this.isDark);
            }
          }
        });
        tailwind.config = {
          darkMode: 'class'
        }
        console.table({
          status: 'site is live',
          message: 'Hola!'
        });
      });
  </script>
</body>

</html>